@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.nav-items{
    margin-right: 5px;
}
.nav-items >ul {
    display: flex;
    
}

.nav-items >ul >li{
    margin: 5px;
    list-style: none;
}

.logo-container{
    align-items: center;
}

.logo{
    width:70px;
    height: 50px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-link {
    margin: 0.25%;
    width: 20%;
    text-decoration: none;
    color:black;
}

.card-link:hover{
    border: 1px solid black;
}

.res-card{
    height: 80vh;
    width:100%;
    
}

.res-img{
    height:300px;
    width:100%;
}
.res-desc{
    padding: 1%;
}
#top-res-btn{
    margin:5px;
    cursor: pointer;
}
.search{
    margin:5px;
}
#search-bar-btn{
    margin: 5px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    height: 1500px;
}
.shimmer-card{
    margin:1%;
    width:20%;
    background-color: #f0f0f0;
    border: 1px solid black;
}
#login-btn{
    margin : 5px;
    cursor: pointer;
}

.menu-container > ul >li{
    list-style: none;
}
.menu-card-container{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin:2px;
    padding:10px;
    border: 1px solid black;
    background-color: #f0f0f0;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}